<div class="left">
  <img src="images/pic.jpg"  width="150" height="150" hspace="100">
      <h2>{{name}}</h2>
      <h3>{{email}}</h3>
      <h4>{{contact}}</h4>
      <h2>
          <div class = "headings">Personal Details</div>
      </h2>

      <table>
          <tr>
              <th>Father's Name</th>
              <td>{{fatherName}}</td>
          </tr>
          <tr>
              <th>Date of Birth</th>
              <td>{{dob}}</td>
          </tr>
          <tr>
              <th style="text-align: left;">Age</th>
              <td>{{age}}</td>
          </tr>
          <tr>
              <th>Blood Group</th>
              <td>{{bloodGroup}}</td>
          </tr>
      </table>
</div>
